<header>
	<!-- <pre class="ascii name">
 █████╗  ██████╗ ██╗   ██╗ █████╗ ████████╗██╗███╗   ██╗████████╗███████╗
██╔══██╗██╔═══██╗██║   ██║██╔══██╗╚══██╔══╝██║████╗  ██║╚══██╔══╝██╔════╝
███████║██║   ██║██║   ██║███████║   ██║   ██║██╔██╗ ██║   ██║   ███████╗
██╔══██║██║▄▄ ██║██║   ██║██╔══██║   ██║   ██║██║╚██╗██║   ██║   ╚════██║
██║  ██║╚██████╔╝╚██████╔╝██║  ██║   ██║   ██║██║ ╚████║   ██║   ███████║
╚═╝  ╚═╝ ╚══▀▀═╝  ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚═╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝
                                                                         
</pre>  -->

<img src="/assets/img/aquatints.png">
</header>